@(taskForm: Form[domain.models.TaskData], task: domain.models.Task)(implicit lang: Lang, flash: Flash, req: RequestHeader)

@template("Edit task "+task.title) {
  <div>
    <h1>Edit task</h1>
    <form class="form-horizontal" method="POST" action="@routes.Tasks.update(task.uuid)">
      @partials.form(taskForm)
      <div class="form-group">
        <div class="col-sm-offset-2 col-sm-10">
          <a href="@routes.Tasks.list()" class="btn btn-default">Annuler</a>
          <button type="submit" class="btn btn-primary">Modifier</button>
        </div>
      </div>
    </form>
  </div>
}
