@(taskPage: common.models.Page[domain.models.Task])(implicit lang: Lang, flash: Flash, req: RequestHeader)

@template("Tasks") {
  <div>
    @helpers.flash()
    <a class="btn btn-default pull-right" href="@routes.Tasks.create()"><i class="fa fa-plus"></i> Créer</a>
    <h1>@taskPage.totalItems task@if(taskPage.totalItems > 1) {s}</h1>
    <form class="form-search" method="GET" action="@routes.Tasks.list()">
      <input type="hidden" name="p" value="@taskPage.currentPage">
      <input type="hidden" name="o" value="@req.getQueryString("o")">
      <div class="form-group has-feedback">
        <input type="text" class="form-control" name="f" placeholder="Search ..." value="@req.getQueryString("f")">
        <span class="glyphicon glyphicon-search form-control-feedback" aria-hidden="true"></span>
      </div>
    </form>
    @taskPage.items.map { task =>
      @partials.listItem(task)
    }
    @helpers.pagination(taskPage, (p: Int) => routes.Tasks.list(p, req.getQueryString("f").getOrElse(""), req.getQueryString("o").getOrElse("")))
  </div>
}
