@(title: String)(content: Html)(implicit lang: Lang, flash: Flash, req: RequestHeader)

@main(if(title.length > 0) title+" | Play Starter" else "Play Starter") {
<div class="container">
  <div class="masthead">
    <h3 class="text-muted">Play Starter</h3>
    <nav>
      <ul class="nav nav-justified">
        <li @if(helpers.Helpers.isActive(routes.Application.home())){class="active"}><a href="@routes.Application.home()">Home</a></li>
        <li @if(helpers.Helpers.hasBaseUrl(routes.Tasks.list())){class="active"}><a href="@routes.Tasks.list()">Tasks</a></li>
        <li><a href="#">Services</a></li>
        <li><a href="#">Downloads</a></li>
        <li><a href="#">About</a></li>
        <li><a href="#">Contact</a></li>
      </ul>
    </nav>
  </div>
  @content
  <!-- Site footer -->
  <footer class="footer">
    <p>© Company 2014</p>
  </footer>
</div> <!-- /container -->
}
